* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;

  --color-text-title: #B52184;
  --color-text-body: #312D64;
  --color-button: #fff;

  --color-background-body: #F9F4FB;
  --color-background-gradient: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  --color-background-card: #fff;
}

body,
input,
button,
textarea {
  font-family: "Mulish", sans-serif;
}

body {
  font-size: 1.6rem;
  background-color: var(--color-background-body);
}

header {
  text-align: center;
  padding: 0 3.2rem 9.3rem;
}

header>img {
  width: min(90vw, 36.4rem);
}

header div {
  margin-top: 1.6rem;
}

header h1 {
  color: var(--color-text-title);
  font-size: 3.2rem;
  font-weight: 900;
}

header p {
  color: var(--color-text-body);
  font-size: 2rem;
  font-weight: 600;
}

header div img {
  margin-top: 3.6rem;
}

main section.main {
  background: var(--color-background-gradient);

}

main section.main .container {
  padding: 5.2rem 3.8rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

main section.main .card {
  background-color: var(--color-background-card);
  border-radius: 2rem;
  box-shadow: 0px 3.311px 13.243px 0px rgba(0, 0, 0, 0.25);
  padding: 2.6rem;
  width: min(100%, 35.4rem);
  margin: 0 auto;
}

main section.main .card img {
  width: 8.0rem;
  height: 8.0rem;
}

main section.main .card h3 {
  color: var(--color-text-title);
  font-size: 2.9rem;
  font-weight: 900;
  margin-top: 3rem;
}

main section.main .card p {
  color: var(--color-text-body);
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
  width: min(26.5rem, 100%);
}

main section.contact {
  padding: 7.8rem 3.8rem;
  width: 100%;
  margin: 0 auto;
}

main section.contact h2 {
  color: var(--color-text-title);
  font-size: 3.2rem;
  font-weight: 900;
}

main section.contact form {
  margin-top: 4.2rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem
}

.input-wrapper,
.textarea-wrapper {
  position: relative;
}

main section.contact .input-wrapper label,
.textarea-wrapper label {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
}

main section.contact .input-wrapper input,
.textarea-wrapper textarea {
  width: 100%;
  padding: 1.2rem 1.4rem 1.2rem 5rem;
  border-radius: 1.6rem;
  border: 1.5px solid var(--color-text-body);
}

main section.contact .textarea-wrapper textarea {
  height: 9.8rem;
  padding: 1.2rem 1.4rem;
}

main section.contact .input-wrapper input,
main section.contact .textarea-wrapper textarea {
  color: var(--color-text-body);
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 100%;
}

main section.contact .input-wrapper input::placeholder,
main section.contact .textarea-wrapper textarea::placeholder {
  color: var(--color-text-body);
  opacity: .6;
}

#iconUser,
#iconEmail {
  position: absolute;
  left: 1.4rem;
  top: 50%;
  transform: translateY(-50%);
}

main section.contact button {
  border-radius: 1.6rem;
  background: linear-gradient(96deg, #343193 0%, #302C63 99.68%);
  border: none;
  align-self: flex-start;
  padding: 1.6rem;
  color: var(--color-button);
}

footer {
  background: var(--color-background-gradient);
}

footer p {
  text-align: center;
  padding: 3.2rem 1.6rem;
  color: #FFF;
  font-size: 2rem;
  font-weight: 600;
}

@media (min-width:1000px) {
  .container {
    width: min(144rem, 100%);
    margin: 0 auto;
  }

  header {
    display: grid;
    grid-template-areas: 'titulo logo';
    grid-template-columns: 1fr 1fr;
  }

  header>div {
    grid-area: titulo;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    position: relative;
  }

  header div h1 {
    font-size: 5.8rem;
    font-weight: 900;
  }

  header div p {
    font-size: 3.2rem;
    font-weight: 600;
  }

  header div img {
    position: absolute;
    bottom: 1rem;
    left: 10px;
  }

  header>img {
    grid-area: logo;
    width: min(100%, 72rem);
  }

  main section.main .container {
    flex-direction: row;
    gap: 6rem;
    justify-content: space-between;
    overflow: hidden;
  }

  main section.main .card {
    margin: 0;
    width: 100%;
  }

  main section.main .card img {
    width: 97px;
    height: 97px;
  }

  main section.main .card h3 {
    font-size: 3.5rem;
    font-weight: 900;
  }

  main section.main .card p {
    font-size: 1.9rem;
    font-weight: 600;
    width: min(30.5rem, 100%);
  }

  main section.contact {
    background: url(./assets/backgroundForm.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }

  main section.contact .areaForm {
    padding-inline: 3.2rem;
  }

  main section.contact .areaForm form {
    width: min(100%, 56rem);
  }

  main section.contact .areaForm h2 {
    font-size: 42px;
    font-weight: 900;
  }

  header div img {
    --delay: .2s;
    animation: arrow .4s var(--delay) backwards;
  }

  .card {
    --delay: .2s;
    animation: cardAnimation .4s var(--delay) backwards;
  }

  header>img {
    animation: float 2s ease-in-out infinite;
  }

  .card img {

    animation: arrow 120s linear infinite;

  }

  @keyframes arrow {
    0% {
      transform: rotate(1080deg);
    }
  }

  @keyframes cardAnimation {
    0% {
      opacity: 0;
      scale: .6;
    }

    50% {
      scale: 1.2;
    }
  }

  @keyframes float {

    0%,
    100% {
      transform: translate(-75px, 0px)
    }

    50% {
      transform: translate(-30px, -30px)
    }
  }
}